.signup__finish {
  background: white;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; }
  .signup__finish-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
  .signup__finish-text {
    width: 540px;
    margin-top: 30px; }
    .signup__finish-text p {
      color: #333333;
      font-size: 14px;
      line-height: 24px; }
      .signup__finish-text p a {
        color: #2b7de1;
        text-decoration: underline; }
        .signup__finish-text p a:hover {
          text-decoration: none; }
  .signup__finish-link {
    text-align: center;
    width: 540px;
    margin-top: 30px; }
    .signup__finish-link p {
      color: #333333;
      font-size: 14px;
      line-height: 24px; }
    .signup__finish-link a {
      color: #2b7de1;
      text-decoration: underline;
      font-size: 14px;
      line-height: 24px; }
      .signup__finish-link a:hover {
        text-decoration: none; }

.star {
  color: red; }
