.signUp {
  width: 720px;
  height: 410px;
  border-radius: 5px; }
  .signUp__main {
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .signUp__main-item {
      width: 310px;
      height: 260px;
      border-radius: 5px;
      border: 1px solid #bcbcbc;
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .signUp__main-item-img {
        margin-top: 45px; }
        .signUp__main-item-img div:last-child {
          display: none; }
        .signUp__main-item-img div .signUp__icon {
          width: 82px;
          height: 82px; }
      .signUp__main-item-btn {
        width: 275px;
        margin-top: 30px;
        margin-bottom: 10px; }
      .signUp__main-item-text {
        margin-top: 10px; }
        .signUp__main-item-text p {
          color: #333333;
          font-size: 14px; }
      .signUp__main-item:hover {
        box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.3); }
        .signUp__main-item:hover .signUp__main-item-img div:first-child {
          display: none; }
        .signUp__main-item:hover .signUp__main-item-img div:last-child {
          display: block; }
