@charset "UTF-8";
.board__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px; }
  .board__header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .board__header-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px; }
    .board__header-date .date__select {
      height: 30px;
      margin-right: 5px; }
      .board__header-date .date__select input {
        background: transparent;
        border-color: #84abd2;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 136px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
        color: white !important;
        background: url("../img/icons/date.png") 96% 50% no-repeat; }
        .board__header-date .date__select input::-webkit-input-placeholder {
          color: white; }
        .board__header-date .date__select input::-moz-placeholder {
          color: white; }
        .board__header-date .date__select input::-moz-placeholder {
          color: white; }
        .board__header-date .date__select input:-moz-placeholder {
          color: white; }
        .board__header-date .date__select input:-ms-input-placeholder {
          color: white; }
        .board__header-date .date__select input:hover {
          cursor: pointer;
          color: #ffe650 !important;
          background: url("../img/icons/dateH.png") 96% 50% no-repeat; }
  .board__header-filters {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .board__header-filters .filter__select {
      height: 30px;
      margin-right: 5px;
      position: relative; }
      .board__header-filters .filter__select:after {
        position: absolute;
        content: '▼';
        color: white;
        right: 5px;
        top: calc(50% - 6px); }
      .board__header-filters .filter__select select {
        background: transparent;
        border-color: #84abd2;
        width: 136px;
        padding-left: 5px;
        padding-right: 23px;
        border-radius: 5px;
        color: white;
        height: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        white-space: nowrap; }
        .board__header-filters .filter__select select::-webkit-input-placeholder {
          color: white; }
        .board__header-filters .filter__select select::-moz-placeholder {
          color: white; }
        .board__header-filters .filter__select select:-moz-placeholder {
          color: white; }
        .board__header-filters .filter__select select:-ms-input-placeholder {
          color: white; }
        .board__header-filters .filter__select select option {
          color: black !important;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 110px; }
      .board__header-filters .filter__select:hover select {
        color: #ffe650 !important; }
      .board__header-filters .filter__select:hover:after {
        color: #ffe650 !important; }
    .board__header-filters .filter__check {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .board__header-filters .filter__check .text p {
        color: white;
        font-size: 14px; }
    .board__header-filters .filter__location {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative; }
      .board__header-filters .filter__location:after {
        position: absolute;
        content: '';
        background: url("../img/icons/globe.png") 50% 50% no-repeat;
        width: 30px;
        height: 30px;
        right: -30px;
        top: 7px; }
      .board__header-filters .filter__location button {
        border-radius: 5px !important;
        margin-right: 5px;
        margin-left: 10px;
        font-size: 14px; }
      .board__header-filters .filter__location-selected:after {
        position: absolute;
        content: '';
        background: url("../img/icons/pin.png") 50% 50% no-repeat;
        width: 30px;
        height: 30px;
        right: -30px; }
      .board__header-filters .filter__location:hover button {
        background: #e09e2b; }
  .board__header-reset {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    /*  background: url("../img/icons/reset.png") 5% 48% no-repeat;*/ }
    .board__header-reset .reset {
      color: white;
      border: 1px solid white;
      border-radius: 5px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 5px;
      font-size: 14px;
      padding-right: 5px; }
    .board__header-reset:hover {
      /*  background: url("../img/icons/resetH.png") 5% 48% no-repeat;*/ }
      .board__header-reset:hover .reset {
        cursor: pointer;
        color: #ffe650 !important; }

@media (max-width: 1500px) {
  .board__header-filters .filter__select select {
    width: 110px;
    font-size: 13px; }
  .date__select input {
    font-size: 13px !important; }
  .board__header-filters .board__header-date .date__select input {
    width: 108px !important; } }

.board__header-filters .filter__select:after {
  font-size: 14px; }

.board__pagination-page:first-child {
  position: relative; }
  .board__pagination-page:first-child:after {
    position: absolute;
    content: '▼';
    color: #333333;
    right: 10px;
    top: calc(50% - 6px);
    pointer-events: none; }

.board__pagination-arrows div {
  width: 10px;
  background: transparent;
  margin-right: 5px;
  margin-left: 5px; }
  .board__pagination-arrows div:hover {
    background: transparent; }
  .board__pagination-arrows div:nth-child(5) {
    margin-right: 20px;
    margin-left: 15px; }
  .board__pagination-arrows div:disabled:hover div svg {
    fill: #006699; }

.board__pagination-arrows div[disabled] {
  opacity: 0.5; }
  .board__pagination-arrows div[disabled]:hover {
    cursor: default !important; }

.main__header-help:hover .help__icon {
  color: red; }

.board__header {
  height: auto; }

.item__box.photo .img .avatar + .default__photo {
  display: none; }

.item__box.photo .btn {
  width: 140px; }
  .item__box.photo .btn div {
    width: 140px; }
    .item__box.photo .btn div button {
      width: 140px;
      position: relative; }
      .item__box.photo .btn div button:after {
        position: absolute;
        content: 'Photo'; }

.signup__practice {
  margin-left: auto;
  margin-right: auto; }

.board__pagination-page:first-child:after {
  font-size: 14px; }

.board__pagination-page select {
  height: 30px !important; }

.board__header {
  height: auto;
  max-height: 200px !important;
  min-height: 54px; }

.board__header-filters {
  position: relative;
  align-items: flex-start !important; }

.filter__dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  margin-top: 5px;
  flex-direction: column; }
  .filter__dropdown .dropdown__text {
    background: #004991;
    border: 1px solid #84abd2;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .filter__dropdown .dropdown__text:hover {
      cursor: pointer;
      color: #ffe650; }
  .filter__dropdown .dropdown__list {
    margin-top: 10px;
    color: white;
    display: flex;
    position: absolute;
    left: 0;
    top: 38px; }
    .filter__dropdown .dropdown__list div {
      margin-right: 10px; }

.filter__toggle {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  margin-top: 5px;
  flex-direction: column;
  margin-right: 10px; }
  .filter__toggle .toggle__text {
    background: #004991;
    border: 1px solid #84abd2;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .filter__toggle .toggle__text:hover {
      cursor: pointer;
      color: #ffe650; }

.dropdown__list-hide {
  height: 40px; }

.filter__dropdown {
  margin-right: 10px; }

.dropdown__list-wrapper {
  display: flex; }

.filter__dropdown:first-child .dropdown__list {
  background: lightblue; }

.filter__dropdown:nth-child(2) .dropdown__list {
  background: lightgray; }

.filter__dropdown:last-child .dropdown__list {
  background: lightgreen; }

.dropdown__list-wrapper button.yellow {
  height: 30px;
  width: 100px;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-left: 20px; }

.dropdown__list-wrapper .filter__select {
  width: 180px;
  margin-top: 0px !important; }

.dropdown__list-wrapper select {
  height: 30px !important;
  width: 100% !important; }

.dropdown__list-wrapper .btn {
  order: 3; }

.board__header {
  min-height: auto !important; }

.filter__select {
  margin-top: 3px; }

.board__header-date {
  margin-top: 3px; }

.hide__btn {
  width: 20px;
  height: 20px;
  position: relative; }
  .hide__btn:hover {
    cursor: pointer; }
  .hide__btn:after {
    position: absolute;
    content: '\25BC';
    transform: rotate(180deg);
    color: white;
    opacity: 0.5;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0; }
    .hide__btn:after:hover {
      cursor: pointer; }
