.pro__setting {
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666666;
  border-radius: 5px;
  border-top: 1px solid #bcbcbc;
  height: calc(100vh - 130px);
  min-height: 688px;
  overflow: auto; }
  .pro__setting-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .pro__setting-wrapper .vertical__line {
      height: 400px;
      margin-top: 50px; }
  .pro__setting-left {
    width: 44%; }
    .pro__setting-left-account {
      margin-top: 28px;
      border-bottom: 1px solid #ecf1f5;
      margin-bottom: 10px; }
      .pro__setting-left-account h3 {
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px; }
      .pro__setting-left-account-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px; }
        .pro__setting-left-account-item:last-child {
          justify-content: flex-start; }
          .pro__setting-left-account-item:last-child .input {
            margin-left: 4px; }
        .pro__setting-left-account-item .text {
          width: 150px;
          margin-right: 30px; }
        .pro__setting-left-account-item .input {
          width: 250px; }
        .pro__setting-left-account-item .eye__wrapper {
          width: 28px;
          margin-right: 30px;
          margin-left: 10px; }
          .pro__setting-left-account-item .eye__wrapper:hover {
            cursor: pointer; }
        .pro__setting-left-account-item .btn {
          width: 100px; }
    .pro__setting-left-contact {
      margin-top: 15px; }
      .pro__setting-left-contact h3 {
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px; }
      .pro__setting-left-contact .item__box.photo {
        align-items: flex-start;
        justify-content: flex-start; }
        .pro__setting-left-contact .item__box.photo .text {
          width: 150px; }
        .pro__setting-left-contact .item__box.photo .img {
          margin-right: 20px;
          margin-left: 15px; }
        .pro__setting-left-contact .item__box.photo .btn {
          width: 100px; }
      .pro__setting-left-contact .item__box {
        margin-bottom: 7px; }
        .pro__setting-left-contact .item__box .text {
          width: 110px; }
        .pro__setting-left-contact .item__box .input {
          width: 420px; }
        .pro__setting-left-contact .item__box-help {
          margin-top: 20px; }
  .pro__setting-right {
    margin-top: 30px;
    width: 44%; }
    .pro__setting-right .item__box .text {
      width: 120px;
      margin-right: 20px; }
    .pro__setting-right .item__box .input {
      width: 410px; }
      .pro__setting-right .item__box .input textarea {
        height: 90px; }
    .pro__setting-right-preferences {
      margin-bottom: 20px; }
      .pro__setting-right-preferences-header {
        margin-bottom: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ecf1f5;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .pro__setting-right-preferences-header-choose {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          .pro__setting-right-preferences-header-choose p {
            color: #5d5d5d;
            font-size: 14px;
            text-transform: uppercase; }
            .pro__setting-right-preferences-header-choose p:last-child {
              margin-left: 40px; }
    .pro__setting-right-input {
      margin-top: 30px;
      margin-bottom: 10px; }
      .pro__setting-right-input-item {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .pro__setting-right-input-item .item__box {
          margin-right: 25px;
          flex-wrap: wrap; }
          .pro__setting-right-input-item .item__box .item__box-time-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start; }
          .pro__setting-right-input-item .item__box .text {
            width: 230px; }
          .pro__setting-right-input-item .item__box .input {
            width: 280px; }
        .pro__setting-right-input-item .item__box .text {
          margin-right: 10px; }
        .pro__setting-right-input-item .item__box .item__box-time-top-to {
          margin-right: 0; }
        .pro__setting-right-input-item:nth-child(2) .item__box .input {
          width: 75px; }
        .pro__setting-right-input-item:nth-child(3) .item__box .text {
          margin-top: 5px; }
        .pro__setting-right-input-item:nth-child(3) .item__box .input {
          margin-top: 5px; }
    .pro__setting-right-check {
      margin-top: 20px;
      width: 150px; }
      .pro__setting-right-check .item__box .text {
        width: 130px;
        margin-right: 0; }
      .pro__setting-right-check .item__box .input {
        width: 10px; }
  .pro__setting .footer__btn {
    margin-top: 30px; }

.pro__setting-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 20px;
  border-bottom: 1px solid #ecf1f5;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .pro__setting-top-left {
    width: 48%; }
  .pro__setting-top-right {
    width: 48%; }
  .pro__setting-top .item__box .text {
    width: 165px;
    margin-right: 20px; }
  .pro__setting-top .item__box .input {
    width: 410px; }
    .pro__setting-top .item__box .input textarea {
      height: 45px; }

.pro__setting-wrapper h3 {
  margin-bottom: 10px; }

.pro__setting-left {
  width: 48%; }

.pro__setting-right {
  width: 48%; }
  .pro__setting-right-references {
    margin-top: -30px; }
    .pro__setting-right-references-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: 1px solid #ecf1f5;
      padding-bottom: 10px;
      margin-bottom: 20px; }
      .pro__setting-right-references-item:last-child {
        border-bottom: none; }
      .pro__setting-right-references-item .item__box {
        width: 46%; }
        .pro__setting-right-references-item .item__box .text {
          width: 50px;
          min-width: 40px;
          margin-right: 10px; }
        .pro__setting-right-references-item .item__box .input {
          width: 200px; }
  .pro__setting-right-availability .item__check {
    padding-bottom: 0; }
  .pro__setting-right-locations .item__check {
    padding-bottom: 0; }

@media (max-width: 1800px) {
  .pro__setting {
    padding-right: 20px;
    padding-left: 20px; } }

@media (max-width: 1400px) {
  .item__box-time-wrapper {
    margin-top: 20px; }
  /* .pro__setting {
    margin-left: 0 !important;
  }*/ }

.eye:hover {
  cursor: pointer; }

.eye-show {
  background: url("../img/icons/eye.png") 50% 50% no-repeat;
  border: none;
  width: 28px;
  height: 18px; }

.eye-hide {
  background: url("../img/icons/eyeHide.png") 50% 50% no-repeat;
  border: none;
  width: 28px;
  height: 18px; }

.hidden {
  visibility: hidden; }
  .hidden:hover {
    cursor: auto; }

@media (max-width: 1615px) {
  .pro__setting-top .item__box .input {
    width: 100%; } }
