.quest__dds-main .quest__main-item {
  padding: 20px; }
  .quest__dds-main .quest__main-item:first-child .item__box {
    justify-content: flex-start; }
    .quest__dds-main .quest__main-item:first-child .item__box .text {
      width: 260px;
      margin-right: 60px; }
    .quest__dds-main .quest__main-item:first-child .item__box .input textarea {
      height: 50px; }
    .quest__dds-main .quest__main-item:first-child .item__box:last-child .input {
      width: calc(100% - 320px); }
  .quest__dds-main .quest__main-item:nth-child(2) {
    background: #f2f2f2;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc; }
    .quest__dds-main .quest__main-item:nth-child(2) .header {
      margin-bottom: 20px;
      font-size: 14px; }
    .quest__dds-main .quest__main-item:nth-child(2) .select__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap; }
      .quest__dds-main .quest__main-item:nth-child(2) .select__wrapper .item__box {
        width: 200px; }
  .quest__dds-main .quest__main-item:nth-child(3) .item__box {
    margin-bottom: 30px; }
    .quest__dds-main .quest__main-item:nth-child(3) .item__box .text {
      width: 260px;
      margin-right: 60px; }
    .quest__dds-main .quest__main-item:nth-child(3) .item__box .input textarea {
      height: 50px; }
    .quest__dds-main .quest__main-item:nth-child(3) .item__box .input {
      width: calc(100% - 320px); }
  .quest__dds-main .quest__main-item:nth-child(3) .radio__header {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .quest__dds-main .quest__main-item:nth-child(3) .radio__header p:first-child {
      margin-right: 38px; }
