.office__setting {
  padding-top: 30px; }
  .office__setting-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px; }
  .office__setting-left {
    width: 42%; }
  .office__setting-right {
    width: 42%; }

.setting__general {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 80px;
  padding-top: 20px; }
  .setting__general-left {
    width: 42%; }
  .setting__general-right {
    width: 42%; }
    .setting__general-right .setting__general-text {
      margin-right: 5px;
      width: 240px !important;
      font-size: 14px;
      color: #5d5d5d; }
    .setting__general-right .setting__general-input {
      width: 360px; }
  .setting__general-btn {
    margin-left: 16px;
    width: 100px; }
  .setting__general-wrapper {
    background: white;
    margin-right: 25px;
    margin-left: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
    border-right: 1px solid #bcbcbc; }
  .setting__general-input-select {
    width: 380px !important; }
    .setting__general-input-select input {
      width: calc(100% - 63px); }
    .setting__general-input-select select {
      width: calc(100% - 20px); }
  .setting__general-input input {
    width: calc(100% - 40px); }
  .setting__general-help {
    font-size: 12px;
    color: #f88f00;
    margin-top: 20px; }
  .setting__general-line {
    height: 430px;
    width: 1px;
    background: #ecf1f5; }

@media (max-width: 1734px) {
  .setting__general-input-select input {
    width: calc(100% - 40px); } }

.board__header-links.setting {
  border-top-right-radius: 5px !important; }

.setting__general-input-select .registration__input-select-list {
  left: 10px; }

@media (max-width: 1736px) {
  .setting__general-input-select select {
    width: 100%;
    margin-left: 2px; }
  .setting__general-input-select input {
    margin-left: 6px; } }

@media (max-width: 1440px) {
  .board__header-info.setting {
    display: none !important; } }

@media (max-width: 1530px) {
  .setting__general-left .setting__general-text {
    margin-right: 20px; } }
