@charset "UTF-8";
.modal__gray {
  box-shadow: 0 0 10px gray;
  border-radius: 5px; }

.quest__main {
  padding: 20px;
  padding-top: 30px; }
  .quest__main .item__box {
    justify-content: flex-start;
    margin-bottom: 28px; }
    .quest__main .item__box .title {
      width: 355px;
      margin-right: 20px; }
    .quest__main .item__box .data {
      width: 530px; }
  .quest__main + .footer__btn {
    margin-top: 0; }

.certificates__main {
  padding: 20px;
  padding-top: 30px; }
  .certificates__main .item__box {
    justify-content: flex-start;
    margin-bottom: 16px; }
    .certificates__main .item__box .title {
      width: 290px;
      margin-right: 20px; }
    .certificates__main .item__box .data {
      width: 530px; }
      .certificates__main .item__box .data input {
        width: 150px; }
  .certificates__main-item {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px; }
    .certificates__main-item h3 {
      margin-bottom: 15px; }
    .certificates__main-item:last-child {
      border-bottom: none;
      margin-bottom: -10px; }
    .certificates__main-item .item__box {
      justify-content: flex-start;
      margin-bottom: 16px; }
      .certificates__main-item .item__box .title {
        width: 290px;
        margin-right: 20px; }
      .certificates__main-item .item__box .data {
        width: 530px; }
        .certificates__main-item .item__box .data input {
          width: 150px; }

.data {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .data__item {
    margin-right: 10px; }
    .data__item p {
      width: 180px; }
    .data__item button {
      min-width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      height: 34px;
      text-transform: uppercase;
      border-radius: 15px; }
    .data__item .white {
      color: #333333;
      border: 1px solid #0957a4; }

.attention__header {
  position: relative; }
  .attention__header:before {
    content: ' ';
    position: absolute;
    width: 36px;
    height: 36px;
    left: -40px;
    top: -12px;
    background: url("../img/icons/attentionRed.png"); }

.attention__main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding-left: 30px;
  padding-right: 30px; }
  .attention__main p {
    font-size: 16px; }
  .attention__main-item .item__box {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px; }
  .attention__main + .footer__btn {
    margin-top: 0; }

.sys__pro-info .profile__main-content-general .info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.sys__pro-info .profile__main-content-general-account {
  width: 46%;
  margin-right: 30px;
  margin-right: 30px; }
  .sys__pro-info .profile__main-content-general-account h3 {
    margin-bottom: 15px; }
  .sys__pro-info .profile__main-content-general-account .item__box {
    justify-content: flex-start; }
    .sys__pro-info .profile__main-content-general-account .item__box .title {
      width: 140px;
      margin-right: 20px; }
  .sys__pro-info .profile__main-content-general-account .photo {
    height: 230px;
    width: 170px;
    margin-top: 30px; }
    .sys__pro-info .profile__main-content-general-account .photo img {
      width: 100%; }

.sys__pro-info .profile__main-content-general-basic {
  width: 46%;
  margin-right: 30px; }
  .sys__pro-info .profile__main-content-general-basic h3 {
    margin-bottom: 15px; }
  .sys__pro-info .profile__main-content-general-basic .item__box .text {
    width: 160px;
    margin-right: 20px; }
  .sys__pro-info .profile__main-content-general-basic .item__box .input {
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .sys__pro-info .profile__main-content-general-basic .item__box .input input + input {
      margin-left: 10px; }

.sys__pro-info .profile__main-content-general-address {
  width: 100%; }
  .sys__pro-info .profile__main-content-general-address .info .item__box {
    justify-content: flex-start; }
    .sys__pro-info .profile__main-content-general-address .info .item__box .text {
      width: 160px;
      margin-right: 20px; }
    .sys__pro-info .profile__main-content-general-address .info .item__box .input {
      width: 290px;
      display: flex;
      align-items: center;
      justify-content: space-between; }

.sys__pro-info .profile__main-content-general-aval .info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .sys__pro-info .profile__main-content-general-aval .info__item {
    width: 48%; }
    .sys__pro-info .profile__main-content-general-aval .info__item:first-child {
      margin-right: 30px; }
  .sys__pro-info .profile__main-content-general-aval .info .item__check {
    background: white;
    font-size: 14px;
    padding-left: 0; }
    .sys__pro-info .profile__main-content-general-aval .info .item__check-header {
      width: 210px; }
    .sys__pro-info .profile__main-content-general-aval .info .item__check-content input[type="checkbox"] + label {
      padding: 0 0 0 20px; }
    .sys__pro-info .profile__main-content-general-aval .info .item__check-content:last-child {
      margin-right: 0; }
  .sys__pro-info .profile__main-content-general-aval .info .item__radio {
    padding-right: 40px;
    border-bottom: none;
    margin-bottom: 20px; }
    .sys__pro-info .profile__main-content-general-aval .info .item__radio-content input[type="radio"] + label {
      padding: 0 0 0 25px; }
    .sys__pro-info .profile__main-content-general-aval .info .item__radio-content:first-child {
      margin-left: -20px; }
  .sys__pro-info .profile__main-content-general-aval .info .item__box {
    padding-right: 15px; }
    .sys__pro-info .profile__main-content-general-aval .info .item__box .text {
      width: 210px; }

.sys__pro-info .profile__main-content-general-add .info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .sys__pro-info .profile__main-content-general-add .info__item:first-child {
    width: 450px; }
  .sys__pro-info .profile__main-content-general-add .info .item__radio-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px; }
    .sys__pro-info .profile__main-content-general-add .info .item__radio-header-item:last-child {
      margin-left: 44px; }
  .sys__pro-info .profile__main-content-general-add .info .item__box {
    align-items: flex-start;
    flex-direction: column; }
    .sys__pro-info .profile__main-content-general-add .info .item__box .input {
      width: 420px; }
      .sys__pro-info .profile__main-content-general-add .info .item__box .input textarea {
        height: 90px; }
    .sys__pro-info .profile__main-content-general-add .info .item__box .text {
      margin-bottom: 10px; }

.sys__pro-info .profile__main-content-spec .modal__table .board__table {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0; }

.sys__pro-info .profile__main-content-profile .info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .sys__pro-info .profile__main-content-profile .info__item {
    width: 46%;
    margin-right: 5px; }

.sys__pro-info .profile__main-content-profile .profile__item h3 {
  margin-bottom: 20px;
  margin-top: 20px; }

.sys__pro-info .profile__main-content-profile .profile__item .item__box {
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: flex-start; }
  .sys__pro-info .profile__main-content-profile .profile__item .item__box .title {
    width: 200px; }
  .sys__pro-info .profile__main-content-profile .profile__item .item__box .data {
    width: 325px;
    flex-direction: column;
    align-items: flex-start; }
  .sys__pro-info .profile__main-content-profile .profile__item .item__box:first-child {
    flex-direction: column;
    margin-bottom: 30px; }
    .sys__pro-info .profile__main-content-profile .profile__item .item__box:first-child .title {
      margin-bottom: 15px; }
    .sys__pro-info .profile__main-content-profile .profile__item .item__box:first-child .data {
      width: 100%; }

h2 {
  font-size: 16px;
  color: #010101;
  font-weight: 700; }

.profile__main-slide {
  padding: 10px;
  position: relative;
  margin-bottom: 10px; }
  .profile__main-slide:hover {
    cursor: pointer;
    background: #d6d6d4; }
  .profile__main-slide:after {
    position: absolute;
    content: '▼';
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: #7295b7;
    width: 15px;
    height: 13px; }
  .profile__main-slide.open:after {
    position: absolute;
    content: '▼';
    transform: rotate(180deg);
    right: 7px;
    top: 10px;
    font-size: 18px;
    color: #7295b7;
    width: 15px;
    height: 13px; }
