.modal__gray .modal__header {
  background: #ececeb; }
  .modal__gray .modal__header h2 {
    color: #0957a4; }
  .modal__gray .modal__header-icon .close__icon {
    fill: #bcbcbc; }
    .modal__gray .modal__header-icon .close__icon:hover {
      fill: #0957a4; }

.modal__gray.sys-offices-profile {
  width: 960px;
  height: 760px;
  box-shadow: 0 0 10px gray;
  border-radius: 5px; }

.profile__main {
  padding: 20px; }
  .profile__main + .footer__btn {
    margin-top: 0px; }
  .profile__main-item {
    border-bottom: 1px solid #ecf1f5;
    margin-bottom: 15px;
    padding-bottom: 10px; }
    .profile__main-item:last-child {
      border-bottom: none; }
    .profile__main-item .text__box .title {
      width: 140px;
      margin-right: 40px; }
    .profile__main-item h3 {
      margin-bottom: 15px; }
    .profile__main-item-content-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between; }
      .profile__main-item-content-wrapper .item__box {
        align-items: flex-start; }
        .profile__main-item-content-wrapper .item__box .text {
          width: 170px;
          margin-right: 10px;
          margin-top: 11px; }
        .profile__main-item-content-wrapper .item__box .input {
          width: 260px; }
          .profile__main-item-content-wrapper .item__box .input textarea {
            height: 70px; }
    .profile__main-item-comments {
      width: 440px;
      height: 90px; }

.modal__gray.sys-offices-locations {
  width: 1200px;
  height: 668px;
  box-shadow: 0 0 10px gray;
  border-radius: 5px; }
  .modal__gray.sys-offices-locations .board__table {
    padding: 20px;
    overflow: auto; }
    .modal__gray.sys-offices-locations .board__table table thead {
      background: white; }
      .modal__gray.sys-offices-locations .board__table table thead tr th {
        border-top: 1px solid #0957a4;
        border-bottom: 1px solid #0957a4; }
        .modal__gray.sys-offices-locations .board__table table thead tr th:not(:first-child):before {
          height: 16px; }
        .modal__gray.sys-offices-locations .board__table table thead tr th:first-child {
          border-left: 1px solid #0957a4;
          border-top-left-radius: 5px;
          padding-left: 20px; }
        .modal__gray.sys-offices-locations .board__table table thead tr th:last-child {
          border-right: 1px solid #0957a4;
          border-top-right-radius: 5px; }
        .modal__gray.sys-offices-locations .board__table table thead tr th .row__select div {
          color: #333333;
          font-size: 14px;
          padding-bottom: 8px; }
    .modal__gray.sys-offices-locations .board__table table tbody tr td:first-child div {
      padding-left: 20px; }

.modal__table .board__table {
  padding: 20px;
  overflow: auto; }
  .modal__table .board__table table thead {
    background: white; }
    .modal__table .board__table table thead tr th {
      border-top: 1px solid #0957a4;
      border-bottom: 1px solid #0957a4; }
      .modal__table .board__table table thead tr th:not(:first-child):before {
        height: 16px; }
      .modal__table .board__table table thead tr th:first-child {
        border-left: 1px solid #0957a4;
        border-top-left-radius: 5px;
        padding-left: 20px; }
      .modal__table .board__table table thead tr th:last-child {
        border-right: 1px solid #0957a4;
        border-top-right-radius: 5px; }
      .modal__table .board__table table thead tr th .row__select div {
        color: #333333;
        font-size: 14px;
        padding-bottom: 8px; }
  .modal__table .board__table table tbody tr td:first-child div {
    padding-left: 20px; }
