.signup__practice {
  width: 960px;
  height: auto;
  border-radius: 5px;
  background: white;
  margin-top: 20px;
  z-index: 999;
  margin-bottom: 50px;
  & .item__box {
    margin-bottom: 7px !important;
  }
  &-cred {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    &-header {
      margin-bottom: 13px;
      & .cred {
        position: relative;
        margin-left: 30px;
        &:before {
          position: absolute;
          content: ' ';
          left: -30px;
          top: -5px;
          background: url("../img/icons/cred.png") 50% 50% no-repeat;
          width: 23px;
          height: 23px;
        }
      }
    }

    &-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-form {
        width: 46%;
        & .item__box {
          & .text {
            width: 150px;
            margin-right: 20px;
          }
          & .input {
            width: 260px;
            position: relative;
          }
        }
      }
      &-help {
        width: 46%;
        &-info {
          width: 300px;
        }
      }
    }
  }
  &-personal {
    background: #f2f2f2;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    &-header {
      margin-bottom: 15px;
      & .personal {
        position: relative;
        margin-left: 35px;
        &:before {
          position: absolute;
          content: ' ';
          left: -35px;
          top: -5px;
          background: url("../img/icons/personal.png") 50% 50% no-repeat;
          width: 25px;
          height: 23px;
        }
      }
    }
    &-form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-left {
        width: 46%;
        & .item__box {
          & .text {
            width: 150px;
            margin-right: 20px;
          }
          & .input {
            width: 260px;
            position: relative;
          }
        }
      }
      &-right {
        width: 46%;
        & .item__box {
          & .text {
            width: 100px;
            margin-right: 20px;
          }
          & .input {
            width: 260px;
            position: relative;
          }
          &.zip {
            justify-content: flex-start;
            & .input {
              margin-left: 43px;
              width: 80px !important;
            }
          }
        }
      }
    }
  }
  &-company {
    padding: 20px;
    padding-top: 15px;
    &-header {
      margin-bottom: 15px;
      & .company {
        position: relative;
        margin-left: 40px;
        &:before {
          position: absolute;
          content: ' ';
          left: -40px;
          top: -5px;
          background: url("../img/icons/company.png") 50% 50% no-repeat;
          width: 30px;
          height: 23px;
        }
      }
    }
    &-form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-left {
        width: 46%;
        & .item__box {
          & .text {
            width: 150px;
            margin-left: 20px;
          }
          & .input {
            width: 260px;
            position: relative;
          }
        }
      }
      &-right {
        width: 46%;
        & .item__box {
          & .text {
            width: 150px;
            margin-left: 20px;
          }
          & .input {
            width: 260px;
            position: relative;
          }
          &.textarea {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            & .text {
              width: 100%;
              margin-top: 5px;
            }
            & textarea {
              height: 63px;
              margin-left: 20px;
              margin-top: 10px;
              width: 370px;
            }
          }
        }
      }
    }
  }
  &-billing {
    padding: 20px;
    padding-top: 15px;
    border-bottom: 1px solid #bcbcbc;
    padding-bottom: 10px;
    &-header {
      margin-bottom: 15px;
      & .billing {
        position: relative;
        margin-left: 30px;
        &:before {
          position: absolute;
          content: ' ';
          left: -35px;
          top: -5px;
          background: url("../img/icons/billing.png") 50% 50% no-repeat;
          width: 30px;
          height: 25px;
        }
      }
    }
    &-form {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-left {
        width: 46%;
        & .item__box {
          & .text {
            width: 150px;
            margin-left: 20px;
          }
          & .input {
            width: 260px;
            position: relative;
          }
        }
      }
      &-right {
        width: 46%;
        & .item__box {
          & .text {
            width: 150px;
            margin-left: 20px;
          }
          & .input {
            width: 260px;
            position: relative;
          }
          &.textarea {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            & textarea {
              height: 54px;
              margin-left: 20px;
              margin-top: 10px;
              width: 370px;
            }
          }
        }
      }
    }
  }
  &-help {
    font-size: 12px;
    color: #5d5d5d;
    width: 360px;
    margin-top: 8px;
    &-red {
      color: #f88f00;
      margin-bottom: 20px;
    }
    & a {
      color: #2b7de1;
      text-decoration: none;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-header {
      color: #5d5d5d;
      text-decoration: none;
      font-size: 12px;
      & a {
        color: #2b7de1;
        text-decoration: none;
        font-size: 12px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &-content {
      margin-top: 20px;
      &-input {
        border: 1px solid #707070;
        width: 200px;
        height: 70px;
      }
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    margin-top: -10px;
    & button {
      width: 100px;
    }
  }
  & .footer__btn {
    margin-top: -2px;
  }
  &-signature {
    margin-top: -5px;
  }
}

.signup__practice-help-professional {
  margin-top: 0;
}

.zip__btn {
  width: 150px;
}

.zip__text {
  padding-right: 8px;
  padding-left: 8px;
}

.percent_input {
  width: 25px;
}

.text__red {
  color: #ff0000;
  font-size: 17px;
  font-weight: bold;
}

.state__attention {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.info-div {
  height: 45px;
  width: 100%;
  & .state__attention {
    margin-top: 15px;
    background: url("../img/icons/attentionRed.png") 3% 50% no-repeat;
    background-color: #f9ebd3;
    padding-top: 15px;
    padding-bottom: 15px;
    & .text {
      width: 100%;
      margin-right: 0;
      font-weight: 400;
      margin-left: 70px;
      margin-top: 15px;
    }
  }
}

.editor-class {
  min-height: 200px;
  max-height: 200px;
  overflow: auto;
}

.input__false {
  .editor-class {
    border: 1px solid #ff0000;
  }
}
.rdw-colorpicker-modal{
  z-index: 1000;
}

.message-info{
  text-align: justify;
}

.message-info-value{
  font-weight: bold;
  font-size: 18px;
}










