.signup__finish{
  background: white;
  height:440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  &-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  &-text{
    width: 540px;
    margin-top: 30px;
    & p{
      color: #333333;
      font-size: 14px;
      line-height: 24px;
      & a{
        color: #2b7de1;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  &-link{
    text-align: center;
    width: 540px;
    margin-top: 30px;
    & p{
      color: #333333;
      font-size: 14px;
      line-height: 24px;
    }
    & a{
      color: #2b7de1;
      text-decoration: underline;
      font-size: 14px;
      line-height: 24px;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.star{
  color: red;
}