//modal candidate

.candidate{
  &-wrapper{
    left: calc(50% - 233px);
  }
  & .modal{
    &__header{
      position: relative;
      &:before{
        width: 36px;
        height: 36px;
        content: ' ';
        background: url("../img/icons/attention.png") 50% 50% no-repeat;
        left: 0;
        top: 0;
      }
      & h4{
        margin-left: 10px;
      }
    }
  }
  & .modal{
    &__main{
      &-header{
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        & p{
          color: #333333;
          font-size: 16px;
        }
      }
      &-content{

      }
      &-item{
        &-text{
          font-size: 14px;
          color: #5d5d5d;
          width: 180px;
        }
        &-data{
          & span{
            font-size: 14px;
            color: #333333;
            font-weight: 700;
          }
        }
      }
    }
  }
  &__center{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    & div{
      color: #f88f00;
      font-size: 14px;
    }
  }
}


//schedules

.schedule {
  &-wrapper {
    left: calc(50% - 336px);
  }
  & .modal{
    &__main{
      &-white{
        padding-left: 15px;
        padding-bottom: 5px;
      }
      &-gray{
        padding-left: 15px;
        border-top: 1px solid #bcbcbc;
        border-bottom: 1px solid #bcbcbc;
      }
      &-item{
        margin-bottom: 12px;
        &-text{
          margin-right: 10px;
        }
        &-data{
          font-size: 14px;
          color: #333333;
        }
        &-date{
          position: relative;
          margin-right: 20px;
          &:after{
            position: absolute;
            content: ' ';
            background: url(../img/icons/blueDate.png) 50% 50% no-repeat;
            right: 0;
            top: 0;
            width: 46px;
            height: 40px;
            pointer-events: none;
          }
          & input{
            border: 1px solid #bcbcbc;
            box-shadow: none;
            background: white;
            &:hover{
              box-shadow: none;

            }
          }
        }
      }
      &-type{
        &-radio{

        }
      }
      &-comments{
        margin-left: 20px;
        margin-top: -20px;
        &-header{
          margin-bottom: 10px;
          & p{
            font-size: 14px;
            color: #5d5d5d;
          }
        }
        &-content{
          width: 600px;
          height: 90px;
          & textarea{
            width: 560px;
            height: 60px;
            border-radius: 10px;
            font-size: 14px;
            padding: 10px;
          }
        }
      }
    }
  }
}









