.quest__dds-main{
  .quest__main{
    &-item{
      padding: 20px;
      &:first-child{
        & .item__box{
          justify-content: flex-start;
          & .text{
            width: 260px;
            margin-right: 60px;
          }
          & .input{
            & textarea{
              height: 50px;
            }
          }
          &:last-child{
            & .input{
              width: calc(100% - 320px);
            }
          }
        }
      }
      &:nth-child(2){
        background: #f2f2f2;
        border-bottom: 1px solid #bcbcbc;
        border-top: 1px solid #bcbcbc;
        & .header{
          margin-bottom: 20px;
          font-size: 14px;
        }
        & .select__wrapper{
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          & .item__box{
            width: 200px;
          }
        }
      }
      &:nth-child(3){
        & .item__box{
          margin-bottom: 30px;
          & .text{
            width: 260px;
            margin-right: 60px;
          }
          & .input{
            & textarea{
              height: 50px;
            }
          }
            & .input{
              width: calc(100% - 320px);
            }
        }
        & .radio{
          &__header{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            & p{
              &:first-child{
                margin-right: 38px;
              }
            }
          }
        }
      }
    }
  }
}

















