.pro__profile{
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 80px;
  font-size: 14px;
  color: #666666;
  &-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #ecf1f5;
    padding-top: 20px;
    flex-wrap: wrap;
    &-left{
      & .item__box{
        & .text{
          width: 200px;
        }
        & .input{
          width: 400px;
          & textarea{
            width: 360px;
          }
        }
      }
    }
    &-right{
      & .item__box{
        & .text{
          width: 200px;
        }
        & .input{
          width: 400px;
        }
      }
    }
  }
  &-bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    & .vertical__line{
      height: 525px;
    }
    &-left{
      width: 600px;
      & h3{
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 25px;
      }
    }
    &-right{
      width: 600px;
      &-item{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #ecf1f5;
        margin-bottom: 15px;
        &:last-child{
          border-bottom: none;
        }
        & h3{
          font-size: 14px;
          font-weight: 700;
          color: #000000;
          margin-bottom: 25px;
        }
        & .item__box{
          & .text{
            width: 50px;
            margin-right: 20px;
          }
          & .input{
            width: 200px;
          }
        }
      }
    }
  }
}


@media (max-width: 1690px){
  .pro__profile-top{
    justify-content: center;
  }

  .pro__profile-bottom{
    justify-content: center;
    & .vertical__line{
      display: none;
    }
  }
}