.modal__gray{
  box-shadow: 0 0 10px gray;
  border-radius: 5px;
}


.quest{
  &__main{
    padding: 20px;
    padding-top: 30px;
    & .item__box{
      justify-content: flex-start;
      margin-bottom: 28px;
      & .title{
        width: 355px;
        margin-right: 20px;
      }
      & .data{
        width: 530px;
      }
    }
    & + .footer__btn{
      margin-top: 0;
    }
  }
}

////////////////////////


.certificates{
  &__main{
    padding: 20px;
    padding-top: 30px;
    & .item__box{
      justify-content: flex-start;
      margin-bottom: 16px;
      & .title{
        width: 290px;
        margin-right: 20px;
      }
      & .data{
        width: 530px;
        & input{
          width: 150px;
        }

      }
    }
    &-item{
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 15px;
      & h3{
        margin-bottom: 15px;
      }
      &:last-child{
        border-bottom: none;
        margin-bottom: -10px;
      }
      & .item__box{
        justify-content: flex-start;
        margin-bottom: 16px;
        & .title{
          width: 290px;
          margin-right: 20px;
        }
        & .data{
          width: 530px;
          & input{
            width: 150px;
          }

        }
      }
    }
  }
}

/////////////////////

.data{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__item{
    margin-right: 10px;
    & p{
      width: 180px;
    }
    & button{
      min-width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
      padding-right: 20px;
      height: 34px;
      text-transform: uppercase;
      border-radius: 15px;
    }
    & .white{
      color: #333333;
      border: 1px solid #0957a4;
    }
  }
}


.attention{
  &__header{
    position: relative;
    &:before{
      content: ' ';
      position: absolute;
      width: 36px;
      height: 36px;
      left: -40px;
      top: -12px;
      background: url("../img/icons/attentionRed.png");
    }
  }
  &__main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding-left: 30px;
    padding-right: 30px;
    & p{
      font-size: 16px;
    }
    &-item{
      & .item__box{
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    & + .footer__btn{
      margin-top: 0;
    }
  }
}

.sys__pro-info{
  .profile__main{
    &-menu{

    }
    &-content{
      &-general{
        & .info{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }
        &-account{
width: 46%;
          margin-right: 30px;
          & h3{
            margin-bottom: 15px;
          }
            margin-right: 30px;
            & .item__box{
              justify-content: flex-start;
              & .title{
                width: 140px;
                margin-right: 20px;
            }
          }
          & .photo{
            height: 230px;
            width: 170px;
            margin-top: 30px;
            & img{
              width: 100%;
            }
          }
        }
        &-basic{
          width: 46%;
          & h3{
            margin-bottom: 15px;
          }

            margin-right: 30px;
            & .item__box{
              & .text{
                width: 160px;
                margin-right: 20px;
              }
              & .input{
                width: 290px;
                display: flex;
                align-items: center;
                justify-content: space-between;
              & input{
                & + input{
                  margin-left: 10px;
                }
              }
            }
          }
        }
        &-address{
          width: 100%;
          & .info{
            & .item__box {
              justify-content: flex-start;
              & .text {
                width: 160px;
                margin-right: 20px;
              }
              & .input {
                width: 290px;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
          }
        }
        &-aval{
          & .info{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            &__item{
              width: 48%;
              &:first-child{
                margin-right: 30px;
              }
            }
            & .item__check{
              background: white;
              font-size: 14px;
              padding-left: 0;
              &-header{
                width: 210px;
              }
              &-content{
                input[type="checkbox"] + label{
                  padding: 0 0 0 20px;
                }
                &:last-child{
                  margin-right: 0;
                }
              }
            }
            & .item__radio{
              padding-right: 40px;
              border-bottom: none;
              margin-bottom: 20px;
              &-content{
                input[type="radio"] + label{
                  padding: 0 0 0 25px;
                }
                &:first-child{
                  margin-left: -20px;
                }
              }
            }
            & .item__box{
              padding-right: 15px;
              & .text{
                width: 210px;
              }
            }
          }
        }
        &-add{
          & .info{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            &__item{
              &:first-child{
                width: 450px;
              }
            }
            & .item__radio-header{
              display: flex;
              align-items: center;
              justify-content: flex-end;
              margin-bottom: 10px;
              &-item{
                &:last-child{
                  margin-left: 44px;
                }
              }
            }
            & .item__box{
              align-items: flex-start;
              flex-direction: column;
              & .input{
                width: 420px;
                & textarea{
                  height: 90px;
                }
              }
              & .text{
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      &-spec{
        & .modal__table{
          & .board__table{
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
          }
        }
      }
      &-profile{
        & .info{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          &__item{
            width: 46%;
            &:first-child{}
            margin-right: 5px;
          }
        }
        & .profile__item{
          & h3{
            margin-bottom: 20px;
            margin-top: 20px;
          }
          & .item__box{
            margin-bottom: 20px;
            margin-top: 20px;
            align-items: flex-start;
            & .title{
              width: 200px;
            }
            & .data {
              width: 325px;
              flex-direction: column;
              align-items: flex-start;
            }
            &:first-child{
              flex-direction: column;
              margin-bottom: 30px;
              & .title{
                margin-bottom: 15px;
              }
              & .data{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

h2{
  font-size: 16px;
  color: #010101;
  font-weight: 700;
}


.profile__main-slide{
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  &:hover{
    cursor: pointer;
    background: #d6d6d4;
  }
  &:after{
    position: absolute;
    content: '▼';
    right: 10px;
    top: 10px;
    font-size: 18px;
    color: #7295b7;
    width: 15px;
    height: 13px;
  }
  &.open{
    &:after{
      position: absolute;
      content: '▼';
      transform: rotate(180deg);
      right: 7px;
      top: 10px;
      font-size: 18px;
      color: #7295b7;
      width: 15px;
      height: 13px;
    }
  }
}















