<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="layout">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%ex</Property>
        <Property name="logs.base">${basedir}/target</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
        <RollingRandomAccessFile name="CommonLogFile" fileName="${sys:logs.base}/logs/mdd.log"
                                 filePattern="${sys:logs.base}/logs/$${date:yyyy-MM}/mdd-%d{MM-dd-yyyy}-%i.log.zip">
            <PatternLayout>
                <Pattern>${layout}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="org" level="INFO"/>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="CommonLogFile"/>
        </Root>
    </Loggers>
</Configuration>
